@import "/home/rimv/.cache/wal/colors-waybar.css";

* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  background: @color0;
  font-family: Iosevka;
  /* font-family: Monocraft; */
  font-size: 13px;
  font-weight: 900;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 5px;
  background: @color0;
}

#custom-rofi,
#window,
#disk,
#cpu,
#custom-cpu_temp,
#custom-cpu_temp.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  padding-right: 8px;
}

#custom-rofi {
  color: @color0;
  border: 3px solid @color6;
  background: @color6;
  padding: 0px 8px;
}

#workspaces button {
  color: @color0;
  border: 3px solid @color7;
  background-color: @color7;
  margin-right: 5px;
  min-width: 20px;
  padding: 0 5px;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  color: @color0;
  background: @color5;
  border: 3px solid @color5;
}

#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover {
  color: @color0;
  border: 3px solid @color5;
  background: @color5;
}

#workspaces button.urgent {
  color: @color0;
  border: 3px solid @color1;
  background: @color1;
}

#window {
  color: @color0;
  background-color: @color5;
  border: 3px solid @color5;
}

#tray {
  border: 3px solid @color3;
  background-color: @color3;
  padding: 0 8px;
}

#custom-bluetui {
  border: 3px solid @color3;
  background-color: @color3;
  padding: 0 8px;
}

#disk {
  border: 3px solid @color1;
  background-color: @color1;
}

#cpu {
  color: @color0;
  background-color: @color3;
  border: 3px solid @color3;
}

#custom-cpu_temp {
  color: @color0;
  border: 3px solid @color6;
  background-color: @color6;
}

#custom-cpu_temp.critical {
  color: @color0;
  background-color: @color1;
  border: 3px solid @color1;
}

#custom-cpu_temp.unknown {
  color: @color0;
  background-color: @color8;
  border: 3px solid @color8;
}

#backlight {
  color: @color0;
  background-color: @color5;
  border: 3px solid @color5;
}

#memory {
  color: @color0;
  background-color: @color4;
  border: 3px solid @color4;
}

#pulseaudio {
  color: @color0;
  background-color: @color6;
  border: 3px solid @color6;
}

#pulseaudio.muted {
  color: @color0;
  background-color: @color1;
  border: 3px solid @color1;
}

#battery {
  color: @color0;
  background-color: @color4;
  border: 3px solid @color4;
}

#battery.critical {
  color: @color0;
  background-color: @color5;
  border: 3px solid @color5;
}

#battery.warning {
  color: @color0;
  background-color: @color3;
  border: 3px solid @color3;
}

#clock {
  color: @color0;
  background-color: @color4;
  border: 3px solid @color4;
}

#network {
  color: @color0;
  background-color: @color5;
  border: 3px solid @color5;
}

#mode,
#submap {
  color: @color6;
  border: 3px solid @color6;
  padding: 0 10px;
}
#power-profiles-daemon {
  color: @color0;
  background-color: @color6;
  border: 3px solid @color6;
  padding: 0 10px;
}
