$radius: 10px;
.Panel {
  background: transparent;
  color: $foreground;
  margin-right: 30px;
  margin-top: 25px;

  & centerbox {
    background: none;
    & box {
      background: none;
    }

    .container-box {
      margin-bottom: 30px;
    }
  }

  // CONTROL
  .center-control {
    padding: 20px;
    border-radius: $radius;
    background: $background;

    // Sliders
    & scale {
      padding: 10px;

      & trough {
        min-height: 10px;
        background: $color1;
        border-radius: 10px;
      }
      & highlight {
        min-height: 10px;
        background: $foreground;
      }
      & slider {
        margin: 0;
      }
      & :focus {
        & trough {
          transition: 0;
          outline: 5px solid coral;
        }
      }
    }

    // Volume
    & .container-volume {
      margin-bottom: 10px;
    }

    // Brillo
    & .container-bright {
      & label {
        font-size: 17px;
        margin-right: 5px;
      }
    }

    // Botones
    & .container-botones {
      & button {
        background: $color0;
        padding: 5px;
        padding-right: 14px;
        padding-left: 10px;
        border-radius: 2px;
      }
      & label {
        background: none;
        text-align: center;
      }
    }
  }
  .mpris-container {
    & .title {
      font-weight: bold;
      max-width: 20px;
    }

    & .stack {
      padding: 10px;
      border-radius: 20px;
      & .card-player {
        border-radius: 20px;
      }
    }

    & .btnSwitcher {
      background: none;
      font-size: 17px;
    }
  }
}
