// Estilos de AGS

// Colores de PYWAL
@import "./colors.scss";

* {
  all: unset;
  font-family: "CaskaydiaCove Nerd Font";
  background: $background;
  color: $foreground;
}

// WINDOWS
@import "./windows/Bars/Sidebar/style.scss";
@import "./windows/Bars/Topbar/style.scss";
@import "./windows/Panel/styles.scss";
@import "./windows/Notifications/style.scss";
@import "./windows/PowerMenu/style.scss";
@import "./windows/AppLauncher/style.scss";
@import "./windows/ScreenShots/style.scss";
@import "./windows/HyprlandLayouts/style.scss";
@import "./windows/Marco/style.scss";
@import "./windows/Wallpaper/style.scss";
@import "./windows/Clock/sytle.scss";
