// Estilos de AGS

// Colores de PYWAL
@import './colors.scss';

* {
  all: unset;
  font-family: 'DepartureMono Nerd Font';
  background: $background;
  color: $foreground;
}

// WINDOWS
@import './src/styles/Bars/Sidebar';
@import './src/styles/Bars/Topbar';
@import './src/styles/Panel';
@import './src/styles/Notifications';
@import './src/styles/PowerMenu';
@import './src/styles/AppLauncher';
@import './src/styles/ScreenShots';
@import './src/styles/HyprlandLayouts';
@import './src/styles/LockScreen';
@import './src/styles/VolumeOSD';
