@import "/home/otoh/.cache/wal/colors-waybar.css";

* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  background: @color0;
  font-family: Iosevka Term Slab;
  /* font-family: Monocraft; */
  font-size: 13px;
  font-weight: 900;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 5px;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#pulseaudio {
  padding-right: 8px;
}

#workspaces button {
  color: @color7;
  background: none;
  border: none;
  margin-right: 0;
  min-width: 20px;
  padding: 0 5px;
}

#workspaces button:hover {
  color: @color5;
  background: none;
  border: none;
}

#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover {
  color: @color7;
  background: none;
  border: none;
}

#workspaces button.focused {
  color: @color5;
  background: none;
  border: none;
}

#workspaces button.urgent {
  color: @color1;
  background: none;
  border: none;
}

#workspaces button:hover {
  color: @color0;
  background: @color5;
  border: 3px solid @color5;
}

#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover {
  color: @color0;
  border: 3px solid @color7;
  background: @color7;
}

#workspaces button.urgent {
  color: @color0;
  border: 3px solid @color1;
  background: @color1;
}

#clock,
#cpu,
#memory,
#battery,
#pulseaudio,
#tray {
  color: @color7;
}

#custom-separator {
  color: @color8;
  padding: 0 4px;
}

tooltip {
  background-color: @color0;
}
