@import "/home/otoh/.cache/wal/colors-waybar.css";

* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  background: @color0;
  font-family: Iosevka Term Slab;
  font-size: 13px;
  font-weight: 900;
}

/* COLUMN LAYOUT */
.modules-left,
.modules-center,
.modules-right {
  padding: 6px 4px;
}

.modules-left > widget,
.modules-center > widget,
.modules-right > widget {
  margin-bottom: 6px;
}

.modules-left > widget:last-child,
.modules-center > widget:last-child,
.modules-right > widget:last-child {
  margin-bottom: 0;
}

/* GLOBAL MODULE STYLE */
#custom-rofi,
#window,
#disk,
#cpu,
#custom-cpu_temp,
#custom-cpu_temp.critical,
#backlight,
#memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock,
#tray {
  padding: 6px 0;
  min-width: 24px;
}

/* ROFI */
#custom-rofi {
  color: @color0;
  border: 3px solid @color6;
  background: @color6;
}

/* WORKSPACES */
#workspaces {
  padding: 0;
}

#workspaces button {
  color: @color0;
  border: 3px solid @color7;
  background-color: @color7;
  margin-bottom: 6px;
  min-width: 24px;
  padding: 6px 0;
}

#workspaces button:last-child {
  margin-bottom: 0;
}

#workspaces button:hover {
  background: @color5;
  border-color: @color5;
}

#workspaces button.active {
  background: @color5;
  border-color: @color5;
}

#workspaces button.urgent {
  background: @color1;
  border-color: @color1;
}

/* MODULE COLORS */
#cpu {
  background: @color3;
  border: 3px solid @color3;
}

#custom-cpu_temp {
  background: @color6;
  border: 3px solid @color6;
}

#custom-cpu_temp.critical {
  background: @color1;
  border: 3px solid @color1;
}

#memory {
  background: @color4;
  border: 3px solid @color4;
}

#pulseaudio {
  background: @color6;
  border: 3px solid @color6;
}

#pulseaudio.muted {
  background: @color1;
  border: 3px solid @color1;
}

#battery {
  background: @color4;
  border: 3px solid @color4;
}

#battery.warning {
  background: @color3;
  border: 3px solid @color3;
}

#battery.critical {
  background: @color5;
  border: 3px solid @color5;
}

#network {
  background: @color5;
  border: 3px solid @color5;
}

#clock {
  background: @color4;
  border: 3px solid @color4;
}

/* TRAY */
#tray {
  background: @color3;
  border: 3px solid @color3;
}
