.Sidebar {
  background: $background;
  font-weight: bold;
  margin: 0;
  padding: 20px 5px;
  min-width: 25px;

  & button {
    background: none;
    border: none;
    box-shadow: none;

    & :hover {
      background: none;
      border: none;
      box-shadow: none;
    }
  }
}

// PowerMenu styles
.powermenumini {
  background: transparent;
  & .icon-iso {
    font-size: 20px;
    background: transparent;
  }
  & label {
    margin: 3px 0;
  }
  & box {
    margin: 10px 0;
  }
}
.container-powermenumini {
  & label {
    font-size: 15px;
    margin: 5px 0;
    color: $color3;
  }
}

.NotificationIcon {
  font-size: 15px;
}

.HypridleIcon {
  margin-top: 7px;
  font-size: 15px;
}

// Workspaces styles
.workspaces {
  & label {
    margin: 10px 0;
  }
  & .wButton {
    background: none;
    border: none;
    padding: 0 2px;
    box-shadow: none;
    font-weight: 200;
    color: $foreground;
    font-style: normal;

    &:hover {
      & label {
        font-weight: 600;
        color: $color4;
      }
      background: none;
    }

    &.aButton {
      & label {
        color: $color10;
        font-weight: 800;
        font-size: 23px;
      }
      background: none;
    }
  }
}

// Monitor styles
.monitor {
  & label {
    margin: 5px 0;
  }
}

// Battery styles
.bateria {
  margin-top: 5px;

  font-size: 17px;
}

// Clock styles
.tiempo {
  & label {
    color: $color10;
  }
}

// Submap styles
.submap {
  & label {
    color: $color3;
    transform: rotate(270deg);
    font-size: 13px;
    font-weight: bold;
  }
}
